*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    height: 80px;
    
}
.header ul {
    display: flex;
    list-style: none;
}
.header ul a{
    color: black;
    padding: 0 7px;
    margin: 0 5px;
    text-decoration: none;
}
.one{
    padding-top: 10px;
    width: 800px;
    justify-content: space-between;
    
}
.form-group{
    padding-left: 50px;
    padding-top: 20px;
}
.form-group input{
    width: 500px;
    padding-left: 10px;
    margin-left: 50px;
    height: 40px;
}
button{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(222, 62, 62);
}
form input{
   
    align-items: center;
}


